@use '../general/variables' as v;

.header-container {
    background-color: v.$black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 10px;
    height: 70px;

    h2 {
        color: v.$primary;
        font-size: 24px;
        font-weight: bold;

        span {color: v.$blue;}

        img {display: none;}
    }

    .nav-container {
        align-self: center;
        nav {display: none;}

        img {
            margin-top: 7px;
            width: 30px;
            height: 30px;
            filter: v.$filter-red;
        }
    }
}

@media screen and (min-width: 576px) {
    header {
        padding: 0px 40px;
    }
}

@media screen and (min-width: 992px) {
    header {
        padding: 0 40px;
        h2 {
            display: flex;
            align-items: center;
            img{
                display: block;
                width: 25px;
                height: 25px;
                margin-top: 5px;
                filter: v.$filter-red;
            }
        }

        .nav-container {
            nav {
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    color: v.$white;
                    margin-right: 30px;
                }

                a:hover {
                    color: v.$primary;
                }
            }

            img {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 1260px) {
    header {
        width: 1260px;
        margin: 0 auto;
    }
}

