@use '../general/variables' as v;

.pokedex-section {
    padding: 40px 10px;
}

.pokedex-header {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;

    h2 {
        font-size: 30px;
        letter-spacing: 5px;
    }

    form > input {
        height: 20px;
    }
}

.card {
    width: 70%;
    max-width: 450px;
    margin: 0 auto;
    border: 2px solid v.$black;
    box-shadow: 10px 10px 5px v.$black;
}

// Card content

.poke-presentation {
    text-align: center;
    margin-bottom: 20px;

    h2 {
        margin: 10px auto;
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 2px;
    }

    .img-background {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        width: clamp(105px, 28vw, 250px);
        height: clamp(105px, 28vw, 200px);
        border-radius: 50%;

        img {
            padding: 10px;
            width: clamp(100px, 20vw, 150px);
            height: clamp(100px, 20vw, 150px);
        }
    }

    p {
        font-size: 15px;
        margin: 10px auto;
    }
}

.type {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 4px;
    width: 80%;

    background-color: rgb(245,245,245);
    padding: 5px;
    margin: 0 auto 10px;
}

// stats list 

#stat-list {
    list-style: none;
    width: 80%;
    margin: 20px auto;
    padding: 0;
    padding-bottom: 20px;
}

#stat-list > li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 4px;
    border-bottom: 1px solid v.$black;
}

@media screen and (min-width: 576px) {
    .pokedex-header {
        h2 {margin-bottom: 10px;}
    }

    .poke-presentation {
        h2 {font-size: 22px;}
    }
}

@media screen and (min-width: 768px) {
    .pokedex-section {
        padding: 60px 40px;
    }

    #stat-list > li {
        font-size: 16px;
    }
}

@media screen and (min-width: 992px) {
    .pokedex-section {
        background-color: v.$black;
    }

    .pokedex-item {
        background-color: v.$white;
        width: 70%;
        margin: 0 auto;
        padding: 80px 40px;
    }

    .pokedex-header {
        form > input {
            width: 40%;
            height: 30px;
        }
    }
}

.add-pokemon__button {
    background-color: v.$primary;
    border: 1px solid v.$black;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
}