@font-face {
  font-family: "Nano Sans Mono";
  src: url(/assets/fonts/NotoSansMono-VariableFont_wdth\,wght.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, a, p, img, button, input, form, body {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Nano Sans Mono", Arial, Helvetica, sans-serif;
}

p, a {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

.header-container {
  background-color: #2f3135;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  height: 70px;
}
header h2 {
  color: #ffba00;
  font-size: 24px;
  font-weight: bold;
}
header h2 span {
  color: #3e51f5;
}
header h2 img {
  display: none;
}
header .nav-container {
  align-self: center;
}
header .nav-container nav {
  display: none;
}
header .nav-container img {
  margin-top: 7px;
  width: 30px;
  height: 30px;
  filter: invert(18%) sepia(60%) saturate(4893%) hue-rotate(351deg) brightness(96%) contrast(105%);
}

@media screen and (min-width: 992px) {
  header {
    padding: 0 40px;
  }
  header h2 {
    display: flex;
    align-items: center;
  }
  header h2 img {
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    filter: invert(18%) sepia(60%) saturate(4893%) hue-rotate(351deg) brightness(96%) contrast(105%);
  }
  header .nav-container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .nav-container nav a {
    color: #f5f5f5;
    margin-right: 30px;
  }
  header .nav-container nav a:hover {
    color: #ffba00;
  }
  header .nav-container img {
    display: none;
  }
}
@media screen and (min-width: 1260px) {
  header {
    width: 1260px;
    margin: 0 auto;
  }
}
.background-image__yellow {
  background-color: #ffba00;
}

.hero-title {
  padding: 45px 15px;
}
.hero-title h1 {
  color: #3e51f5;
  font-size: clamp(28px, 6vw, 44px);
}

.hero-paragraph {
  background-color: #2f3135;
  padding: 45px 15px;
}
.hero-paragraph p {
  color: #f5f5f5;
}

.hero-buttons {
  padding: 25px 15px;
}
.hero-buttons .pokedex-btn {
  display: flex;
  align-items: center;
  position: relative;
  width: 240px;
  height: 50px;
  padding: 20px;
  border-radius: 20px;
  background-color: #3e51f5;
  margin-top: 15px;
  margin-bottom: 15px;
}
.hero-buttons .pokedex-btn a {
  color: #f5f5f5;
  font-weight: bold;
  font-size: 22px;
}
.hero-buttons .pokedex-btn img {
  width: 25px;
  height: 25px;
  filter: invert(64%) sepia(73%) saturate(993%) hue-rotate(1deg) brightness(105%) contrast(104%);
  position: absolute;
  top: 28%;
  left: 122px;
}
.hero-buttons .poketeam-btn {
  display: flex;
  align-items: center;
  position: relative;
  width: 240px;
  height: 50px;
  padding: 20px;
  border-radius: 20px;
  background-color: #ee1515;
  margin-top: 15px;
  margin-bottom: 15px;
}
.hero-buttons .poketeam-btn a {
  color: #f5f5f5;
  font-weight: bold;
  font-size: 22px;
}
.hero-buttons .poketeam-btn img {
  width: 25px;
  height: 25px;
  filter: invert(64%) sepia(73%) saturate(993%) hue-rotate(1deg) brightness(105%) contrast(104%);
  position: absolute;
  top: 28%;
  left: 136px;
}

.poke-card__hero {
  display: none;
}

@media screen and (min-width: 576px) {
  .hero-title {
    padding: 60px 40px;
  }
  .hero-paragraph {
    padding: 60px 40px;
  }
  .hero-buttons {
    padding: 40px 40px;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .hero-buttons {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .separator {
    padding-top: 70px;
  }
}
@media screen and (min-width: 992px) {
  .background-image__yellow {
    padding-bottom: 120px;
  }
  main.container {
    max-width: 1260px;
    margin: 0 auto;
  }
  .hero-title {
    width: 700px;
  }
  .hero-title h1 {
    font-size: 66px;
  }
  .hero-info__style {
    background-color: #f5f5f5;
    margin-left: 40px;
    width: 720px;
    border-radius: 40px 0px 40px 40px;
  }
  .hero-paragraph {
    background-color: initial;
    padding: 60px 40px 40px;
  }
  .hero-paragraph p {
    color: #2f3135;
    font-size: 30px;
  }
  .hero-buttons {
    display: flex;
    justify-content: space-between;
  }
  .hero-buttons .pokedex-btn, .hero-buttons .poketeam-btn {
    width: 300px;
  }
}
@media screen and (min-width: 1260px) {
  main {
    position: relative;
  }
  .background-image__yellow {
    max-width: 1920px;
    margin: 60px auto;
    border-radius: 0 700px 0 250px;
  }
  .poke-card__hero {
    display: block;
    position: absolute;
    width: 360px;
    height: 660px;
    top: 120px;
    right: 20px;
  }
  .poke-card__hero img {
    width: 360px;
    height: 600px;
  }
}
@media screen and (min-width: 1500px) {
  .background-image__yellow {
    border-radius: 0 700px 0 500px;
  }
  .poke-card__hero {
    top: 120px;
    right: -50px;
  }
}
header .nav-container nav.mobile-nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 70px;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #2f3135;
  z-index: 100;
  padding: 20px;
  border-top: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
}
header .nav-container nav.mobile-nav a {
  color: #f5f5f5;
  font-weight: bold;
}
header .nav-container nav.mobile-nav a:active {
  color: #ffba00;
}

@media screen and (max-width: 768px) {
  .header-container.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
}
.pokedex-section {
  padding: 40px 10px;
}

.pokedex-header {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.pokedex-header h2 {
  font-size: 30px;
  letter-spacing: 5px;
}
.pokedex-header form > input {
  height: 20px;
}

.card {
  width: 70%;
  max-width: 450px;
  margin: 0 auto;
  border: 2px solid #2f3135;
  box-shadow: 10px 10px 5px #2f3135;
}

.poke-presentation {
  text-align: center;
  margin-bottom: 20px;
}
.poke-presentation h2 {
  margin: 10px auto;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 2px;
}
.poke-presentation .img-background {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: clamp(105px, 28vw, 250px);
  height: clamp(105px, 28vw, 200px);
  border-radius: 50%;
}
.poke-presentation .img-background img {
  padding: 10px;
  width: clamp(100px, 20vw, 150px);
  height: clamp(100px, 20vw, 150px);
}
.poke-presentation p {
  font-size: 15px;
  margin: 10px auto;
}

.type {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 4px;
  width: 80%;
  background-color: rgb(245, 245, 245);
  padding: 5px;
  margin: 0 auto 10px;
}

#stat-list {
  list-style: none;
  width: 80%;
  margin: 20px auto;
  padding: 0;
  padding-bottom: 20px;
}

#stat-list > li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 4px;
  border-bottom: 1px solid #2f3135;
}

@media screen and (min-width: 576px) {
  .pokedex-header h2 {
    margin-bottom: 10px;
  }
  .poke-presentation h2 {
    font-size: 22px;
  }
}
@media screen and (min-width: 768px) {
  .pokedex-section {
    padding: 60px 40px;
  }
  #stat-list > li {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  .pokedex-section {
    background-color: #2f3135;
  }
  .pokedex-item {
    background-color: #f5f5f5;
    width: 70%;
    margin: 0 auto;
    padding: 80px 40px;
  }
  .pokedex-header form > input {
    width: 40%;
    height: 30px;
  }
}
.team-section {
  padding: 40px 0 0;
}
.team-section p {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}

.team-section__left {
  background-color: #ffba00;
  padding: 20px;
}

.team-section__right {
  background-color: #999999;
  padding: 20px;
}

.team-section__pokemons {
  background-color: #2f3135;
  padding: 20px;
  border-bottom: 1px solid #f5f5f5;
}
.team-section__pokemons h3 {
  font-size: 20px;
  text-align: center;
  color: #f5f5f5;
}

footer {
  background-color: #2f3135;
  padding: 20px;
}
footer p {
  font-size: 16px;
  color: #f5f5f5;
  line-height: 25px;
}
footer p span {
  color: #ffba00;
  font-weight: bold;
}
footer p a {
  color: #ffba00;
}
footer p a:visited {
  color: #ee1515;
}

/*# sourceMappingURL=style.css.map */
