@font-face {
    font-family: 'Nano Sans Mono';
    src: url(/assets/fonts/NotoSansMono-VariableFont_wdth\,wght.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
    font-display: swap;
}