@use './fonts';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, a, p, img, button, input, form, body {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Nano Sans Mono', Arial, Helvetica, sans-serif;
}

p, a , button{
    font-family: 'Montserrat', sans-serif;
}

img {max-width: 100%;}

.message {
    color: black;
    padding: 5px;
    border: 1px solid black;
    font-weight: bold;
}

.message.alert {
    background-color: #ED4245;
}

.message.success {
    background-color: #57F287;
}