$primary: #ffba00;
$blue: #3e51f5;
$red: #ee1515;
$black: #2f3135;
$gray: #777777;
$light-gray: #999999;
$white: #f5f5f5;

$filter-yellow: invert(64%) sepia(73%) saturate(993%) hue-rotate(1deg) brightness(105%) contrast(104%);
$filter-red: invert(18%) sepia(60%) saturate(4893%) hue-rotate(351deg) brightness(96%) contrast(105%);